NEXT_PUBLIC_SITE_URL=https://wildrunner.org
NEXT_PUBLIC_ENV=development
R2_PUBLIC_URL=https://images.wildrunner.org
S3_ENDPOINT=https://xxxx.r2.cloudflarestorage.com
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET=
